language: node_js
node_js:
  - "14.15.0"

install: 
  - npm ci

script: 
  - npm run c8:test
  - npm run mochawesome
  - npm run c8:report
  - npm run coveralls

addons:
  artifacts: 
    target_paths:
      - /